<ion-header>
  
</ion-header>
<ion-content>
<form class="form" [formGroup]="myform" (ngSubmit)="addData(myform.value)">
    <div >
    <div class="layout">
      <ion-toolbar >
      <ion-title class="title">Signup</ion-title>
    </ion-toolbar>
        <ion-item>
            
            <ion-input  type="string" placeholder="First name" formControlName="fname" required ></ion-input>
          </ion-item>
        <ion-item>
            <ion-input type="string" placeholder="last name" formControlName="lname"> </ion-input>
          </ion-item>
          <ion-item>
            
            <ion-input type="text" placeholder="Email Id" class="text" required formControlName="email" ></ion-input>
            <ion-button (click)="emailverify()">verify</ion-button>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.email">
                <div class="error-messages" *ngIf="myform.get('email').hasError(error.type) && (myform.get('email').dirty || myform.get('email').touched) ">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
            
          <ion-item>
             <ion-input type="number" placeholder="Mobile" class="text" required formControlName="mobile"></ion-input>
          </ion-item>

          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.mobile">
                <div class="error-messages" *ngIf="myform.get('mobile').hasError(error.type) && (myform.get('mobile').dirty || myform.get('mobile').touched) ">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

          <ion-item>
            <ion-input type="password" placeholder="Enter Password" required formControlName="password"></ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.password">
              <div class="error-messages" *ngIf="myform.get('password').hasError(error.type) && (myform.get('password').dirty || myform.get('password').touched) ">
                {{error.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
              <ion-input type="password" placeholder="confirm Password" required formControlName="confirmPassword"></ion-input>
            </ion-item>
            <ion-button color="medium" type="submit" [disabled]="!myform.valid">submit</ion-button><br>
            <a href="/login">Login</a>
  </div>
  

</div>
</form>
</ion-content>

